<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Listagem de Clientes</title>
    <!-- Link para o PICO CSS -->
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css"
>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Cadastro</strong></li>
        </ul>
        <ul>
            <li><a href="#">Clientes</a></li>
        </ul>
    </nav>
    <main class="container">
        <h1>Listagem de Clientes</h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="client : ${clients}">
                    <th scope="row" th:text="${client.id}">1</th>
                    <td th:text="${client.name}">Malu Cantero</td>
                    <td th:text="${client.email}">malu@amordospapais.com</td>
                    <td th:text="${client.phone}">(11) 12133-2323</td>
                </tr>
                
        </table>
        <a href="#" role="button">Novo Cliente</a>
    </main>
</body>
</html>
