<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Home</title>
    <!-- Link para o PICO CSS -->
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css"
>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Cadastro</strong></li>
        </ul>
        <ul>
            <li><a href="#">Clientes</a></li>
        </ul>
    </nav>
    <main class="container">
        <h1>Bem Vindo</h1>
        <p>Sistema de Cadastro simples em SpringBoot</p>
    </main>
</body>
</html>
